.chg {
    position: relative;
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
    font-family: 'Montserrat', sans-serif;
}
.chg .hero{
    width: 74%;
}
.chg .maincard{
    display: flex;
    position: absolute;
    top: 10%;
    width: 94%;
    height: 80%;
    background-color: #444;
    left: 0;
    right: 0;
    margin: auto;
}
.chg .maincard .nav{
    width: 8.33%;
    height: 100%;
    background-color: #fdd7d7;
}
.chg .maincard .contacts{
    width: 41.33%;
    height: 100%;
    background-color: #f9f9f9;
}
.chg .maincard .contacts .search{
    padding: 13% 0 5% 8%;

}
.chg .maincard .contacts .search img{
    width: 1.25rem;
    margin: 0;
    filter: invert(40%);
    display: inline-block;
    vertical-align: text-bottom;
}
.chg .maincard .contacts .search input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: transparent;
    border: 0;
    padding-left: .75rem;
    outline: none !important;
    cursor: pointer;
}
.chg .maincard .contacts .list{
    overflow: auto;
    height: 82%;
}
.chg .maincard .thread{
    width: 50.33%;
    height: 100%;
    background-color: #3e3e3e;
}


/*SCROLLBAR*/
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px; /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
       Yes, I pulled out digital color meter */
    background: #cccccc;
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: #bfbfbf; /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}
