@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post {
    display: flex;
    flex-direction: column;
    @include margin-bottom(1.25);

    &:last-child {
        @include margin-bottom(.5);
    }
    &__left{
      width: 100%;
      margin: 0 0 1rem 0;
    }
    &__right{
      margin: 0 0 2rem 0;
      width: 100%;
    }
    &__left__wrap{
      padding: 20px;
      background: #fff;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    }
    &__title {
        font-size: $typographic-base-font-size * 1.1;
        @include line-height(1);
        @include margin-top(0);
        @include margin-bottom(0);
        &-link {
            color: $color-base;
            &:hover,
            &:focus {
                color: $color-base;
                border-bottom: 1px solid $color-base;
            }
        }
    }
    &__meta {
      &-time {
        font-size: $typographic-small-font-size;
        color: #999;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    &__description {
        font-size: $typographic-base-font-size * .85;
        @include line-height(.85);
        @include margin-bottom(.75);
    }
    &__category{
        display: flex;
        align-items: center;
        img{
          width: 1rem;
        }
        a{
          color: #4f4e4e;
          font-size: .8rem;
          font-weight: 500;
          margin-left: .35rem;
        }
    }
    &__readmore {
        font-size: $typographic-base-font-size;
        color: $color-primary;
        &:hover,
        &:focus {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
        }
    }
}

@include breakpoint-sm{
  .post {
    flex-direction: row;

    &__left{
      margin: 0 2rem 0 0;
    }
    &__right{
      margin: 0;
    }
  }
}
